---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post }  = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <Main>
    <h1 class="text-2xl font-bold">{post.data.title}</h1>
    <div class="prose-xl prose-invert prose-headings:mb-3 max-w-none md:prose-2xl">
      <Content />
    </div>
  </Main>
</Layout>

<!-- <Layout title={data.title}>
  <Main>
    <h1>{data.title}</h1>
    <div class="prose-lg">
      { body }
    </div>
  </Main>
</Layout> -->