---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PostsList from "../components/PostsList.astro";
import Main from "../components/Main.astro";

const lifestylePosts = await getCollection("blog", ({ id }) => {
  return id.startsWith('lifestyle');
});
---

<Layout title="Lifestyle - Cheemiya">
  <Main>
    <h1>Hi, I am the Lifestyle blog</h1>
    <!-- {posts.map(post => (
            <PostsList posts={posts}/>
        ))} -->
    <PostsList posts={lifestylePosts} />
  </Main>
</Layout>
