---
import { Image } from 'astro:assets';
import logo from "../images/logo.png";
---

<header>
    <div class="flex">
        <a href="/"><Image src={logo} alt="Cheemiya Logo" loading="eager" width="200" height="100"/></a>
        <a href="/blog">Blog</a>
        <a href="/lifestyle">Lifestyle</a>
        <a href="/showsthoughts">K-drama/Anime Reviews</a>
    </div>
</header> 